<br>Este notebook mostra como fazer uma conversão de pdf em dataframe utilizando pandas e a biblioteca TabulaPy

In [171]:
!pip install tabula-py

Requirement already satisfied: tabula-py in c:\users\usuario\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: numpy in c:\users\usuario\anaconda3\lib\site-packages (from tabula-py) (1.18.1)
Requirement already satisfied: distro in c:\users\usuario\anaconda3\lib\site-packages (from tabula-py) (1.5.0)
Requirement already satisfied: pandas>=0.25.3 in c:\users\usuario\anaconda3\lib\site-packages (from tabula-py) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.14.0)

In [172]:
import tabula
import pandas as pd


dados = tabula.read_pdf("COVID_LEITOS_INTERIOR_INTERIOR_1805.pdf",encoding = 'utf-8',pages = 'all',guess = False)

In [173]:
dados

[       No                         Unnamed: 0                      Unnamed: 1  \
 0       1                           Alvarães  UNIDADE HOSPITALAR DE ALVARAES
 1       2                            Amaturá   UNIDADE HOSPITALAR DE AMATURA
 2       3                              Amaná     UNIDADE HOSPITALAR DE ANAMA
 3       4                              Anori     UNIDADE HOSPITALAR DE ANORI
 4       5                               Apuí      UNIDADE HOSPITALAR DE APUI
 ..    ...                                ...                             ...
 68     69                             Uarini    UNIDADE HOSPITALAR DE UARINI
 69     70                            Urucará   UNIDADE HOSPITALAR DE URUCARA
 70     71                        Urucurituba  UNIDADE HOSPITALAR DE ITAPEACU
 71     72  UNIDADE HOSPITALAR DE URUCURITUBA                              22
 72  Total                               2441                              73

     Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  \
 0         22.0           0           4           0           0         0.0
 1         30.0           0           8           0           0         0.0
 2         20.0           0           3           0           0         0.0
 3         23.0           0           3           0           0         0.0
 4         42.0           2           4           2           0         0.0
 ..         ...         ...         ...         ...         ...         ...
 68        21.0           0           2           0           0         0.0
 69        39.0           0          13           0           0         0.0
 70        10.0           0           0           0           0         0.0
 71         0.0           8           0           0           0         0.0
 72       643.0          77           9          27          20         NaN

     Unnamed: 8
 0          0.0
 1          0.0
 2          0.0
 3          0.0
 4          0.0
 ..         ...
 68         0.0
 69         0.0
 70         0.0
 71         NaN
 72         NaN

 [73 rows x 10 columns]]

In [174]:

dados = tabula.read_pdf("COVID_LEITOS_INTERIOR_INTERIOR_1805.pdf",encoding = 'utf-8',pages = 'all',guess = False)

In [175]:
type(dados)

list

In [176]:
print(dados[0])

       No                         Unnamed: 0                      Unnamed: 1  \
0       1                           Alvarães  UNIDADE HOSPITALAR DE ALVARAES
1       2                            Amaturá   UNIDADE HOSPITALAR DE AMATURA
2       3                              Amaná     UNIDADE HOSPITALAR DE ANAMA
3       4                              Anori     UNIDADE HOSPITALAR DE ANORI
4       5                               Apuí      UNIDADE HOSPITALAR DE APUI
..    ...                                ...                             ...
68     69                             Uarini    UNIDADE HOSPITALAR DE UARINI
69     70                            Urucará   UNIDADE HOSPITALAR DE URUCARA
70     71                        Urucurituba  UNIDADE HOSPITALAR DE ITAPEACU
71     72  UNIDADE HOSPITALAR DE URUCURITUBA                              22
72  Total                               2441                              73

    Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  \
0         22.0           0           4           0           0         0.0
1         30.0           0           8           0           0         0.0
2         20.0           0           3           0           0         0.0
3         23.0           0           3           0           0         0.0
4         42.0           2           4           2           0         0.0
..         ...         ...         ...         ...         ...         ...
68        21.0           0           2           0           0         0.0
69        39.0           0          13           0           0         0.0
70        10.0           0           0           0           0         0.0
71         0.0           8           0           0           0         0.0
72       643.0          77           9          27          20         NaN

    Unnamed: 8
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
68         0.0
69         0.0
70         0.0
71         NaN
72         NaN

[73 rows x 10 columns]

In [197]:
#convertendo o arquivo para csv...Podemos utilizar posteriormente
tabula.convert_into("COVID_LEITOS_INTERIOR_INTERIOR_1805.pdf","arquivo.csv",output_format = "csv",pages = "all")

In [200]:
dadosCovid = pd.read_csv('arquivo.csv',encoding ="ANSI")

In [201]:
dadosCovid

,No,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,Alvarães,UNIDADE HOSPITALAR DE ALVARAES,22.0,0,4,0,0,0.0,0.0
1,2,Amaturá,UNIDADE HOSPITALAR DE AMATURA,30.0,0,8,0,0,0.0,0.0
2,3,Amaná,UNIDADE HOSPITALAR DE ANAMA,20.0,0,3,0,0,0.0,0.0
3,4,Anori,UNIDADE HOSPITALAR DE ANORI,23.0,0,3,0,0,0.0,0.0
4,5,Apuí,UNIDADE HOSPITALAR DE APUI,42.0,2,4,2,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
68,69,Uarini,UNIDADE HOSPITALAR DE UARINI,21.0,0,2,0,0,0.0,0.0
69,70,Urucará,UNIDADE HOSPITALAR DE URUCARA,39.0,0,13,0,0,0.0,0.0
70,71,Urucurituba,UNIDADE HOSPITALAR DE ITAPEACU,10.0,0,0,0,0,0.0,0.0
71,72,UNIDADE HOSPITALAR DE URUCURITUBA,22,0.0,8,0,0,0,0.0,NaN
72,Total,2441,73,643.0,77,9,27,20,NaN,NaN

In [205]:
#renomeando dados perdido: Unnamed
header_names=['No','MUNICIPIO','UNIDADE HOSPITALAR','TOTAL','LEITOS UCI COVID', 'Leitos dala rosa','Ventilador Mec','Neonatologia','CPAP','Cápsula']
dadosCovid = pd.read_csv("arquivo.csv",header=None,skiprows=1,names=header_names,encoding="ANSI")

In [206]:
dadosCovid.head()

,No,MUNICIPIO,UNIDADE HOSPITALAR,TOTAL,LEITOS UCI COVID,Leitos dala rosa,Ventilador Mec,Neonatologia,CPAP,Cápsula
0,1,Alvarães,UNIDADE HOSPITALAR DE ALVARAES,22.0,0,4,0,0,0.0,0.0
1,2,Amaturá,UNIDADE HOSPITALAR DE AMATURA,30.0,0,8,0,0,0.0,0.0
2,3,Amaná,UNIDADE HOSPITALAR DE ANAMA,20.0,0,3,0,0,0.0,0.0
3,4,Anori,UNIDADE HOSPITALAR DE ANORI,23.0,0,3,0,0,0.0,0.0
4,5,Apuí,UNIDADE HOSPITALAR DE APUI,42.0,2,4,2,0,0.0,0.0

In [221]:
#excluir colunas menos relevante
dadosCovid.drop('LEITOS UCI COVID' ,axis=1, inplace=True)
dadosCovid.drop('Neonatologia' ,axis=1, inplace=True)
dadosCovid.drop('CPAP' ,axis=1, inplace=True)

In [222]:
dadosCovid.head()

,MUNICIPIO,UNIDADE HOSPITALAR,TOTAL,Leitos dala rosa,Ventilador Mec,Cápsula
0,Alvarães,UNIDADE HOSPITALAR DE ALVARAES,22.0,4,0,0.0
1,Amaturá,UNIDADE HOSPITALAR DE AMATURA,30.0,8,0,0.0
2,Amaná,UNIDADE HOSPITALAR DE ANAMA,20.0,3,0,0.0
3,Anori,UNIDADE HOSPITALAR DE ANORI,23.0,3,0,0.0
4,Apuí,UNIDADE HOSPITALAR DE APUI,42.0,4,2,0.0

In [209]:
type(dadosCovid)

pandas.core.frame.DataFrame

In [210]:
dadosCovid.head()

,MUNICIPIO,UNIDADE HOSPITALAR,TOTAL,LEITOS UCI COVID,Leitos dala rosa,Ventilador Mec,Neonatologia,CPAP,Cápsula
0,Alvarães,UNIDADE HOSPITALAR DE ALVARAES,22.0,0,4,0,0,0.0,0.0
1,Amaturá,UNIDADE HOSPITALAR DE AMATURA,30.0,0,8,0,0,0.0,0.0
2,Amaná,UNIDADE HOSPITALAR DE ANAMA,20.0,0,3,0,0,0.0,0.0
3,Anori,UNIDADE HOSPITALAR DE ANORI,23.0,0,3,0,0,0.0,0.0
4,Apuí,UNIDADE HOSPITALAR DE APUI,42.0,2,4,2,0,0.0,0.0

In [223]:
#Municipios do interior com maiores populações
dadosCovid=df.loc[[31,48,39]]

In [224]:
dadosCovid.head()

,No,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
31,32,Itacoatiara,HOSPITAL REGIONAL JOSE MENDES ITACOATIARA,108.0,3,37,3,0,1.0,0.0
48,49,Parintins,HOSPITAL PADRE COLOMBO,85.0,0,2,2,7,0.0,0.0
39,40,Manacapuru,HOSPITAL GERAL DE MANACAPURU,81.0,0,0,1,0,0.0,0.0